# Build output & Binaries
build/
bin/
obj/
*.bin
*.elf
*.hex
*.o
*.obj
*.d
*.map

# STM32CubeIDE / Eclipse internal files
.settings/
mx.scratch
*.launch
project-description.json
stm32cubeide-export.json

# VS Code
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/c_cpp_properties.json

# OS specific files
.DS_Store
Thumbs.db